.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: #00ffff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2{
    font-weight: 700;
}

.form__container {
    box-shadow: 5px 5px;
    padding: 2rem;
    background-color:rgb(241, 244, 247);
    margin-top:6rem;
    border-radius: 10px;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
    padding: 8px;
    margin-top:1rem;
    margin-bottom: 1rem;

}

.login{
    margin-top:1rem;
    margin-bottom: 1rem;
    background-color: green;
    color: white;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: large;
}

.signup {
    background-color: green;
    color: white;
    padding-left: 4rem;
    padding-right: 5rem;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: large;
}