<div class="container">
    <div class="form__container">
        <h3>SignUp Page</h3>

        <form class="form" [formGroup]="userForm" (ngSubmit)="onSignUp()">
            <label for="name">Name:</label><br>
            <input type="text" id="name" formControlName="name" placeholder="Enter your Name"><br>

            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" formControlName="phone" placeholder="Enter your phone number"><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" formControlName="email" placeholder="test@gmail.com"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" formControlName="password" placeholder="password must be of 8 character"><br>

            <button type="submit">SignUp</button>
            
        </form>
    </div>
</div>
