<div class="container">
    <div class="form__container">
        <h3>SignUp Page</h3>

        <form class="form">
            <label for="name">Name:</label><br>
            <input type="text" id="name" placeholder="Enter your Name"><br>

            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" placeholder="Enter your phone number"><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" placeholder="test@gmail.com"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" placeholder="password must be of 8 character"><br>

            <input type="submit" value="Sign Up">
            
        </form>
    </div>
</div>
