.wrapper{
    display: flex;
    justify-content: center;
}
.container-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.card-container{
    background-color: lightcyan;
    width: 50%;
    
}
.expense-btn{
    background-color: orangered;
    border: none;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}
.settleup-btn{
    background-color: cyan;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    color: black;
    font-weight: 700;
}
.expense-list{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.expense{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 1rem;
}
.description-container{
    text-align: center;
}
h3{
    align-self: center;
}
.colorRed{
    color:red;
}
.colorGreen{
    color:green;
}
h4{
    align-self: center;
}
