<div class="wrapper">
    <div class="card-container">
    <div class="container-header">
    <div class="title">
    <h2>{{userDetails? userDetails.name : ""}}</h2>
    <br>
    <h5>{{totalMoney==0? "Settled" : totalMoney<0? 'You borrowed' : 'You lent'}} <span class="{{totalMoney<0? 'span-red' : 'span-green' }}">{{totalMoney==0? "" :totalMoney<0? ['$'] + Math(totalMoney).toString() : ['$'] +  totalMoney .toString()}}</span></h5>
    </div>
    <div class="buttons-container">
        <button class="expense-btn" (click)="onAddExpenseBtnClick()">Add Expense</button>
        <button class="settleup-btn" (click)="onSettleUpBtnClick()" [disabled]="totalMoney>=0">Settle up</button>
    </div>
    </div>
    <div class="settleUp-container" *ngIf="showSettleWindow">
        <p>You are paying Karan </p>
        <div class="settleUp-amount">
            ${{totalMoney<0? Math(totalMoney) : totalMoney }}
        </div>
        <button class="paid-button" (click)="settleUp()">Done</button>
    </div>
    <app-add-expense *ngIf="showAddition" [emailSecond]="userId" (expensesAdded)="getUserExpensesList()" ></app-add-expense>
    <div class="expense-list">
        <div class="expense" *ngFor="let expense of expenseList; let index=index">
            <h4>{{expense.date.slice(3,10)}}</h4>
            <div class="description-container">
                <h4>{{expense.description ? expense.description : ""}}</h4>
                <p>{{expense.paidBy=='false' ? currentUserName+ [' paid $']+expense.amount : userDetails.name +[' paid $']+expense.amount }}</p>
            </div>
            <h3 class="{{expense.paidBy=='true' ? 'colorRed' : 'colorGreen' }} " > <span *ngIf="expense.split=='true'">{{'$'+getExpense(expense.split,expense.amount)}}  {{expense.paidBy=='false' ? 'You lent' : 'You borrowed'}}</span> <span *ngIf="expense.split=='false'" style="color: white;">--Settled Up--</span></h3>
        </div>
    </div>
    </div>
</div>
